<mat-dialog-content class='mat-typography'>
  <mat-grid-list mat-dialog-title cols='24' rowHeight='2rem'>
    <mat-grid-tile colspan='11' rowspan='2'>
      <span class='fix-text'>{{ selectedPokemons[0].name }}</span>
    </mat-grid-tile>
    <mat-grid-tile colspan='8' rowspan='2'>
      <button (click)='getKeepSelectedFromStore()' [mat-dialog-close]='true'>
        Compare to...
      </button>
    </mat-grid-tile>
    <mat-grid-tile colspan='5' rowspan='2'>
      <button mat-mini-fab color="warn" (click)='setFavs(selectedPokemons)'>
        <mat-icon>favorite</mat-icon>
      </button>
    </mat-grid-tile>
  </mat-grid-list>
  <hr />
  <mat-grid-list cols='12' rowHeight='1.8rem'>
    <mat-grid-tile colspan='4' rowspan='9'>
      <img mat-card-image class='img-fluid' src='{{ image }}' alt=' Not found image' />
    </mat-grid-tile>
    <mat-grid-tile colspan='8' rowspan='4'>
      <div class='container'>
        <!-- <p class='text-description' >{{ selectedPokemons[0].name.toLowerCase() }} Description</p> -->
        <p class='text-description' >{{ descriptionPokemonsGender[0].flavor_text_entries[1].flavor_text.toLowerCase() }} </p>
        <hr />
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan='8' rowspan='2'>
      <table style='width: 100%'>
        <tr>
          <th>Height</th>
          <th>Weight</th>
          <th>Gender</th>
        </tr>

        <tr>
        <td class='text-description' > {{ descriptionPokemons[0].height/10 }}m </td>
        <td class='text-description'> {{ descriptionPokemons[0].weight/10 }}kg </td>
        <td class='text-description'> {{ ConvertGender(descriptionPokemonsGender[0].gender_rate) }} </td>
        </tr>
      </table>
    </mat-grid-tile>
    <mat-grid-tile colspan='8' rowspan='3'>
      <table style='width: 100%'>
        <tr>
          <th>Abilitys</th>
          <th>Type</th>
        </tr>
        <tr>
          <td>
            <ul *ngFor='let pokemon of descriptionPokemons'>
              <li *ngFor='let abilities of pokemon.abilities'>{{ abilities.ability.name }}</li>
            </ul>
          </td>
          <td>
            <ul *ngFor='let pokemon of descriptionPokemons'>
              <li *ngFor='let types of pokemon.types'>{{ types.type.name }}</li>
            </ul>
          </td>
        </tr>
      </table>
    </mat-grid-tile>
  </mat-grid-list>
  <hr />
  <mat-grid-list cols='24' rowHeight='21rem' class="graficTittle">
    <span>Stats</span>
    <div *ngIf='descriptionPokemons' >
      <app-chart
        [descriptionPokemons] = 'descriptionPokemons'
        [descriptionPokemonsGender] = 'descriptionPokemonsGender'
      >
      </app-chart>
    </div>
  </mat-grid-list>
</mat-dialog-content>
