:root {
  --backGgroundColor: rgb(110, 117, 124);
  --textColor: rgb(241, 242, 242);
  --buttonColor: rgba(255, 140, 0, 0.992);
  --blackBorder: rgba(255, 255, 255, 0);
  --red: rgb(255, 0, 0);
}

.img-fluid {
  width: 8rem;
  image-rendering: pixelated;
}

.fix-text {
  text-transform: uppercase;
  padding: 0;
}

.compare-button {
  margin-left: 1rem;
  color: var(--textColor);
  background-color: var(--backGgroundColor);
}

.graficTittle {
  display: block;
  text-align: center;
}

.favDisplay {
  background: var(--buttonColor);
}

.previouslyAddedToFavorites {
  background-color: var(--red);
}
.normalFavButton {
  background-color: var(--backGgroundColor);

}