:root {
  --backGgroundColor: rgb(98, 106, 112);
  --textColor: rgb(241, 242, 242);
  --buttonColor: rgba(255, 140, 0, 0.992);
  --blackBorder: rgba(255, 255, 255, 0);
  --red: rgb(255, 0, 0);
}

.img-fluid {
  width: 8rem;
  image-rendering: pixelated;
}

.fix-text {
  text-transform: uppercase;
  padding: 0;
}

.compare-button {
  color: var(--textColor);
  background-color: var(--backGgroundColor);
  font-size: small;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  padding: 0;
}

.grafic-tittle {
  display: block;
  text-align: center;
}

/* .fav-display {
  background: var(--buttonColor);
} */

.previously-added-to-favorites {
  background-color: var(--red);
}
.normal-fav-button {
  background-color: var(--backGgroundColor);
}
.set-margin-modal {
  margin: 0;
}

.set-margin-modal-lines {
  margin: 0.3rem;
}

.text-description {
  margin: 0;
}

@media (max-width: 576px) {
  .mat-dialog-content{
    max-height: 35rem;
  }
}