:root {
  --backGgroundColor:  rgb(128, 128, 128); 
  --back: rgb(0, 0, 0);
  --orange: rgb(255, 166, 0);
  --red: rgb(255, 0, 0);
 
}

.center-image {
  margin: 1rem auto;
  width: 22.5rem;
  image-rendering: pixelated;
}

.carousel-caption {
  color: var(--backGgroundColor);
  text-transform: uppercase;
  font-weight: 700;
}

.carousel-control-prev {
  color: var(--orange);
}

.colors {
  background: var(--red);
  border-radius: 2rem;
  border-block-end-width: 1rem;
  margin-bottom: -1rem;
}

.optional-text {
  vertical-align: middle;
  text-align: center;
  position: absolute;
  font-size: 1.5rem;
  margin: 10rem 2rem;
  text-justify: auto;
}
