<div
  id="carousel-example-captions"
  class="carousel slide"
  data-bs-ride="carousel"
  *ngIf="favoritePokemons[0]; else elseBlock"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carousel-example-captions"
      data-bs-slide-to="0"
      [ngClass]="{ 'colors active': favoritePokemons[0] }"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      [ngClass]="{ 'colors': favoritePokemons[1] }"
      data-bs-target="#carousel-example-captions"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      [ngClass]="{ 'colors': favoritePokemons[2] }"
      data-bs-target="#carousel-example-captions"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
    <button
      type="button"
      [ngClass]="{ 'colors': favoritePokemons[3] }"
      data-bs-target="#carousel-example-captions"
      data-bs-slide-to="3"
      aria-label="Slide 4"
    ></button>
    <button
      type="button"
      [ngClass]="{ 'colors': favoritePokemons[4] }"
      data-bs-target="#carousel-example-captions"
      data-bs-slide-to="4"
      aria-label="Slide 5"
    ></button>
  </div>
  <div class="carousel-inner" *ngIf="favoritePokemons">
    <div [ngClass]="{ 'carousel-item active': favoritePokemons[0] }">
      <img
        [src]="getImage(favoritePokemons[0].id)"
        class="d-block center-image"
        alt=" Not found image of {{ favoritePokemons[0].name }}"
      />
      <div class="carousel-caption d-none d-md-block">
        <span>{{ favoritePokemons[0].name }}</span>
      </div>
    </div>

    <div class="carousel-item" *ngIf="favoritePokemons[1]">
      <img
        [src]="getImage(favoritePokemons[1].id)"
        class="d-block center-image"
        alt="Not found image of {{ favoritePokemons[1].name }}"
      />
      <div class="carousel-caption d-none d-md-block">
        <span>{{ favoritePokemons[1].name }}</span>
      </div>
    </div>
    <div class="carousel-item" *ngIf="favoritePokemons[2]">
      <img
        [src]="getImage(favoritePokemons[2].id)"
        class="d-block center-image"
        alt="Not found image of {{ favoritePokemons[2].name }}"
      />
      <div class="carousel-caption d-none d-md-block">
        <span>{{ favoritePokemons[2].name }}</span>
      </div>
    </div>
    <div class="carousel-item" *ngIf="favoritePokemons[3]">
      <img
        [src]="getImage(favoritePokemons[3].id)"
        class="d-block center-image"
        alt="Not found image of {{ favoritePokemons[3].name }}"
      />
      <div class="carousel-caption d-none d-md-block">
        <span>{{ favoritePokemons[3].name }}</span>
      </div>
    </div>
    <div class="carousel-item" *ngIf="favoritePokemons[4]">
      <img
        [src]="getImage(favoritePokemons[4].id)"
        class="d-block center-image"
        alt="Not found image of {{ favoritePokemons[4].name }}"
      />
      <div class="carousel-caption d-none d-md-block">
        <span>{{ favoritePokemons[4].name }}</span>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carousel-example-captions"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon colors" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carousel-example-captions"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon colors" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<ng-template #elseBlock>
  <div class="optional-text">
    <p>
      You don't have favorite Pokémon, go to Pokémons page and select some,
      clicking on the heart when you open them
    </p>
  </div>
</ng-template>
