:root {
  --backGgroundColor:  rgba(110, 117, 124, 1); 
  --back: rgba(255, 255, 255, 0);
}

.center-image {
  margin: 1rem auto;
  width: 22.5rem;
  image-rendering: pixelated;
}

.carousel-caption {
  color: var(--back);
  text-transform: uppercase;
  font-weight: 700;
}

.carousel-control-prev {
  color: var(--backGgroundColor);
}