:root {
  --backGgroundColor:  #808080; 
  --back: #000000;
  --orange: #800000;
}

.center-image {
  margin: 1rem auto;
  width: 22.5rem;
  image-rendering: pixelated;
}

.carousel-caption {
  color: var(--orange);
  text-transform: uppercase;
  font-weight: 700;
}

.colors {
  background: var(--back);
}