<!-- <mat-toolbar color='warn'>
  <mat-toolbar-row>
    <a class='navbar-brand' routerLink='/home'>Home</a>
    <span class='example-spacer'></span>
    <div>
      <span>pokemons</span>
    </div>
    <span class='example-spacer'></span>
    <button mat-icon-button class='example-icon' aria-label='Example icon-button with menu icon'>
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>


</mat-toolbar> -->

<nav class='navbar navbar-expand-md navbar-light bg-light fixed-top'>
  <div class='container-fluid'>
    <a class='navbar-brand' routerLink='/home'>PokeApp</a>
    <button
      class='navbar-toggler'
      type='button'
      data-bs-toggle='collapse'
      data-bs-target='#navbarSupportedContent'
      aria-controls='navbarSupportedContent'
      aria-expanded='false'
      aria-label='Toggle navigation'
    >
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav me-auto mb-2 mb-lg-0'>
        <li class='nav-item'>
          <a
            class='nav-link active'
            aria-current='page'
            routerLink='/pokemonGallery'
            data-bs-toggle='collapse'
            data-bs-target='#navbarSupportedContent'
            aria-controls='navbarSupportedContent'
          >
            Pokemons
          </a>
        </li>
      </ul>
      <form class='d-flex'>
        <input
          class='form-control me-2'
          type='text'
          placeholder='Search'
          aria-label='Search'
          [(ngModel)]='searchPokemon'
          [ngModelOptions]='{standalone: true}'
        />
      </form>
    </div>
  </div>
</nav>
