:root {
  --back: rgb(0, 0, 0);
}

.card-settings {
  width: 10rem; 
  margin: 1rem 1rem 0.5rem 0.5rem;
}

.center-image {
  border-top-left-radius: calc(.25rem - 0.063rem);
  border-top-right-radius: calc(.25rem - 0.063rem);
}

.fix-text {
  text-align: center;
  text-transform: uppercase;
}
.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}