<mat-dialog-content class='mat-typography'>
  <h1 class='fix-text' mat-dialog-title>
    {{ selectedPokemons[0].name }} VS {{ selectedPokemons[1].name }}
  </h1>
  <hr />
  <mat-grid-list cols='12' rowHeight='4rem'>
    <mat-grid-tile colspan='6' rowspan='2'>
      <img
        mat-card-image
        class='imgFluid'
        src='{{ image }}'
        alt=' Not found image'
      />
    </mat-grid-tile>
    <mat-grid-tile colspan='6' rowspan='2'>
      <img
        mat-card-image
        class='imgFluid'
        src='{{ image2 }}'
        alt=' Not found image'
      />
    </mat-grid-tile>
  </mat-grid-list>
  <hr />
  <mat-grid-list cols='12' rowHeight='3rem'>
    <mat-grid-tile colspan='5' rowspan='3'>
      <div mat-dialog-content>
        <table style='width: 100%'>
          <tr>
            <span><td class='text-description'>{{ descriptionPokemons[0].height / 10 }}m</td></span><br />
            <span><td class='text-description'>{{ descriptionPokemons[0].weight / 10 }}kg</td></span><br />
            <span><td class='text-description'>{{ ConvertGender(descriptionPokemonsGender[0].gender_rate) }}</td></span><br />
          </tr>
          <tr>
            <td>
              <div *ngFor='let abilities of descriptionPokemons[0].abilities'>
                <span>
                  {{ abilities.ability.name }}
                </span>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan='2' rowspan='3'>
      <div mat-dialog-content>
        <table style='width: 100%'>
          <tr>
            <span class='titles'> <td>Height</td> </span><br />
            <span class='titles'> <td>Weight</td> </span><br />
            <span class='titles'> <td>Gender</td> </span><br />
            <span class='titles'> <td>Abilities</td> </span>
          </tr>
        </table>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan='5' rowspan='3'>
      <div mat-dialog-content>
        <table style='width: 100%'>
          <tr>
            <span><td class='text-description'>{{ descriptionPokemons[1].height / 10 }}m</td></span><br />
            <span><td class='text-description'>{{ descriptionPokemons[1].weight / 10 }}kg</td></span><br />
            <span><td class='text-description'>{{ ConvertGender(descriptionPokemonsGender[1].gender_rate) }}</td></span><br />
          </tr>
          <tr>
            <td>
              <div *ngFor='let abilities of descriptionPokemons[1].abilities'>
                <span>
                  {{ abilities.ability.name }}
                </span>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <hr />
  <mat-grid-list cols='24' rowHeight='21rem' class='graficTittle'>
    <span>Stats</span>
    <div *ngIf='descriptionPokemons' >
      <app-chart-vs
        [descriptionPokemons] = 'descriptionPokemons'
        [descriptionPokemonsGender] = 'descriptionPokemonsGender'
      >
      </app-chart-vs>
    </div>
  </mat-grid-list>
</mat-dialog-content>
