.imgFluid {
  width: 8rem;
  display: block;
  margin: auto;
  image-rendering: pixelated;
}

.fix-text {
  text-transform: uppercase;
}

.titles{
  vertical-align: super;
  margin: auto;
}

.text-description{
  vertical-align: middle;
}

.graficTittle {
  display: block;
  text-align: center;
}