.imgFluid {
  width: 8rem;
  display: block;
  margin: auto;
  image-rendering: pixelated;
}

.fix-text {
  text-align: center;
  text-transform: uppercase;
  padding: 0;
}

.titles{
  vertical-align: middle;
  margin: auto;
  padding: 0 1rem;
  text-align: center;
  font-weight: 500;
}

.text-description{
  vertical-align: middle;
  
}

.graficTittle {
  display: block;
  text-align: center;
}

.setMarginModalLines {
  margin: 0.3rem;
}

.setMarginModal {
  margin: 0;
}

@media (max-width: 576px) {
  .mat-dialog-content{
    max-height: 35rem;
  }
}
