/* You can add global styles to this file, and also import other style files */
:root {
  --back: rgb(0, 0, 0);
  --background: rgba(200, 200, 200,0.2);
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
