/* You can add global styles to this file, and also import other style files */
:root {
  --back: rgb(0, 0, 0);
  --background: rgba(200, 200, 200,0.2);
  --orange: rgb(255, 165, 0);
  --red: rgb(255, 0, 0);
  --backGgroundColor: rgb(110, 117, 124);
  --white: rgb(255, 255, 255);
  --borderToast: rgba(0, 0, 0, 0.2);
  --textColor: rgb(241, 242, 242);
  --chartBorder: rgb(128, 128, 128);
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
